p{
  margin-top: 0;
  margin-bottom: 0;
}
body{
  margin:0;
}
  .topcontainer {
  background-color: #abf0e9;
  background-size: auto;
  background-image: url("https://www.nationalobserver.com/sites/nationalobserver.com/files/img/2018/12/28/adventure-alpine-alps-714258.jpg");
  margin: 0;
  height: 2000px;
}
.aa{
  height: 100px;
  width: 100px;
  border-radius: 100px;
}
h1{
  margin-top: 0;
}
.a{
    padding-left: 900px;
}
.b{
   padding-left: 60px;
}
.c{
   padding-left: 60px;
}
.m1{

    height: 200px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 200px;
    font-size: 80px;
  }
  .m2{

      height: 200px;
      padding-left: 200px;
      padding-right: 200px;
      padding-top: 100px;
      font-size: 80px;
      margin-top: 700px;
    }
    .s1{
      background-color: lightgreen;
      margin-left: 10px;
    }
    .s2{
      background-color: lightgreen;
      margin-left: 15px;
    }
.middlecontainer{
   background-color: black;
    height: 200px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100px;
    font-size: 80px;
}
.span{
  background-color: blue;
}
.n{
  margin-top: 300px;
  padding-left: 150px;
  font-style: oblique;
  font-size: 150px;
  margin-left: 400px;
}
.np{
  padding-top: 100px;
  padding-left: 400px;
  font-style: oblique;
}
.t1{
  font-size:  20px;
  position:fixed;
}
.bb{
  padding-top: 200px;
  padding-left: 200px;
  width: 120px;
  height: 120px;
 position:absolute;
}
.cc{
  padding-left: 200px;
  padding-top: 200px;
  width: 120px;
  height: 120px;
  position:absolute;}

.n1{
  background-color: aqua;

  padding: 80px;
  border: 10px;
  height: 300px;
  width: 300px;
  border-width:20px;
  border-style:double;
  border-color: blue;
}
.n2{
  background-color: aqua;
  height: 300px;
  width: 300px;
  padding: 80px;
 margin-left: 515px;
  border-width:20px;
  border-style:double;
  border-color: blue;
}
  .n3 {
    background-color: chartreuse;
    margin-left: 500px;
    border-color: blue;
    font-size: 40px;
    height: 200px;
    width: 200px;
  padding: 150px;
  border-width:11px;
  border-style:solid;
  }
  .n4{
    background-color: mediumspringgreen;

    padding: 80px;
    border: 10px;
    height: 300px;
    width: 300px;
    border-width:20px;
    border-style:double;
    border-color: blue;
  }
  .n5{
    background-color: mediumspringgreen;
    height: 300px;
    width: 300px;
    padding: 80px;
   margin-left: 515px;
    border-width:20px;
    border-style:double;
    border-color: blue;
  }
  .i1{
    height: 300px;
      width: 300px;
  }
  .i2{
    height: 300px;
    width: 300px;
  }
  .i3{
    height: 300px;
    width: 300px;
  }
  .i4{
    height: 300px;
      width: 300px;
  }
  .i5{
    height: 300px;
    width: 300px;
  }
  .a1{
    height: 250px;
    width: 400px;
    margin-left: 100px;
  }
  .b1{
    height: 250px;
    width: 400px;
    margin-left: 500px;
  }
  .ccc{
    background-color: yellow;
  }
  .ppp{
   text-align: center;
   margin-top:  100px ;
  }
