p{
  margin-top: 0;
  margin-bottom: 0;
}
body{
  margin:0;
  }
  .topcontainer {
  background-color: #abf0e9;
  margin: 0;
  height: 500px;
}
.aa{
  height: 100px;
  width: 100px;
  border-radius: 100px;
}
h1{
  margin-top: 0;
}
.a{
    padding-left: 1000px;
}
.b{
   padding-left: 60px;
}
.c{
   padding-left: 60px;
}
.middlecontainer{
    background-color: lightgreen;
    height: 200px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100px;
    font-size: 80px;
}
.bottomcontainer{
    background-color: orange;
    height: 200px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100px;
    font-size: 80px;
}
.n{
  padding-top: 200px;
  padding-left: 200px;
  font-style: oblique;
  font-size: 150px;
}
.t1{
  font-size:  20px;
}
.bb{
  padding-top: 200px;
  padding-left: 150px;
  width: 120px;
  height: 120px;
}
.cc{
  padding-top: 200px;
  padding-left: 200px;
  width: 120px;
  height: 120px;
}
.n1{
  background-color: aqua;

  padding: 80px;
  border: 10px;
  height: 300px;
  width: 300px;
  border-width:20px;
  border-style:double;
  border-color: blue;
}
.n2{
  background-color: aqua;
  height: 300px;
  width: 300px;
  padding: 80px;
 margin-left: 515px;
  border-width:20px;
  border-style:double;
  border-color: blue;
}
  .n3 {
    background-color: chartreuse;
    margin-left: 500px;
    border-color: blue;
    font-size: 40px;
    height: 200px;
    width: 200px;
  padding: 150px;
  border-width:11px;
  border-style:solid;
  }
  .n4{
    background-color: mediumspringgreen;

    padding: 80px;
    border: 10px;
    height: 300px;
    width: 300px;
    border-width:20px;
    border-style:double;
    border-color: blue;
  }
  .n5{
    background-color: mediumspringgreen;
    height: 300px;
    width: 300px;
    padding: 80px;
   margin-left: 515px;
    border-width:20px;
    border-style:double;
    border-color: blue;
  }
  .i1{
    height: 300px;
      width: 300px;
  }
  .i2{
    height: 300px;
    width: 300px;
  }
  .i3{
    height: 300px;
    width: 300px;
  }
  .i4{
    height: 300px;
      width: 300px;
  }
  .i5{
    height: 300px;
    width: 300px;
  }
